
<%= render partial: 'layouts/nav' %>

<div class="jumbotron-orange container-header-programs">

  <h1 style="color: #fff; margin-top: 50px;">All Programs</h1>
  <div class="col-md-4">

  </div>
  <div class="col-md-5 text-center" style="color: #fff;">
    <p>Not sure where you want to study? Maybe you're not sure what you'd like to learn. Browse our complete list of programs. You've got more options than you think!</p>
  </div>
  <div class="col-md-4">

  </div>
</div>

<div class="container concrete">
  <% @program.each do |program| %>
  <div class="col-lg-6" style="padding-top: 70px;">
    <div class="school-show">
      <h2 style="margin-top: 50px; color: #fff; text-shadow: 2px 2px 5px rgba(150, 150, 150, 1);">
        <%= program.name %> </h2>
        <!-- This is necessary to avoid the default of rails passing an id. We don't want to ask for the ID of the school that is the same as the program.  -->
        <h3><%= link_to program.school.name, school_path(program_id: program.id, id: "school") %></h3>

        <div class="col-md-6 col-md-push-3">
          <span>
            <p><i class="fa fa-money fa-2x"></i>&nbsp;&nbsp;&nbsp;$<%= program.price %>
              <i class="fa fa-calendar fa-2x"></i>&nbsp;&nbsp;&nbsp;<%= program.duration_weeks %> weeks</p>
            </span>

            <span>
              <p>
                <i class="fa fa-desktop fa-2x"></i>&nbsp;&nbsp;&nbsp;
                <%= program.format %>
              </p>
              <p>
                <% if program.max_class_size == 0 || nil || "" %>
                <%= "" %>
                <% else %>
                <i class="fa fa-users"></i>&nbsp;&nbsp;&nbsp;Max Class Size:<%= program.max_class_size %>
                <% end %></p>
                <p>
                  <i class="fa fa-clock-o fa-2x"></i>
                  &nbsp;&nbsp;&nbsp;
                  <% if program.full_time == true || "true" || "TRUE" %>
                  <%= "Full Time" %>
                  <% elsif program.full_time == false %>
                  <%="Part Time" %>
                  <% end %>
                </p>
              </span>

              <span>
                <%= link_to ('<i class="fa fa-link fa-2x"></i>').html_safe, program.school.website %>
                <%= link_to ('<i class="fa fa-envelope-o fa-2x"></i>').html_safe, "mailto:#{program.school.email}"  %>
                <%= link_to ('<i class="fa fa-facebook fa-2x"></i>').html_safe, program.school.facebook  %>
                <%= link_to ('<i class="fa fa-twitter fa-2x"></i>').html_safe, program.school.twitter  %>
              </span>

              <div class="update-links" style="margin-top: 30px;">
                <span>
                  <p>
                    <%= link_to "Edit", edit_program_path(program) %> | <%= link_to "Delete", programs_path, method: :destroy, notice: 'Program deleted.' %>
                  </p>
                </span>
              </div>



            </div>

          </div>

        </div>
        <% end %>
      </div>

      <%= render partial: 'layouts/footer' %>
