
<%= render partial: "schools/nav" %>

<div class="jumbotron-orange">

  <h1>All Cohorts</h1>
  <div class="col-md-4">

  </div>
  <div class="col-md-5 text-center">
      <p>Not sure where you want to study? Maybe you're not sure what you'd like to learn. Browse our complete list of schools. You've got more options than you think!</p>
  </div>
  <div class="col-md-4">

  </div>

</div>

<div class="container">
<% @program.each do |program| %>
  <%= program.name %>
  <%= program.duration_weeks %>
  <%= program.price %>
  <%= program.max_class_size %>
  <%= program.full_time %>
  <% end %>
</div>
