
<%= render partial: 'layouts/nav' %>

<div class="jumbotron-orange">

  <h1>All Programs</h1>
  <div class="col-md-4">

  </div>
  <div class="col-md-5 text-center">
      <p>Not sure where you want to study? Maybe you're not sure what you'd like to learn. Browse our complete list of programs. You've got more options than you think!</p>
  </div>
  <div class="col-md-4">

  </div>

</div>


<div class="container">
  <% @program.each do |program| %>
  <div class="col-lg-6">
    <h2><%= program.name %></h2>
    <h4><%= program.school.name %></h4>
    <div class="col-lg-6">
      <p><%= program.duration_weeks %> weeks long</p>
      <p>$<%= program.price %></p>
      </div>
      <div class="col-lg-6">
        <p>Max Class Size:
          <% if program.max_class_size == 0 %>
            <%= 'None' %>
          <% else %>
            <%= program.max_class_size %>
          <% end %></p>
        <p>
          Format:
          <% if program.full_time == true %>
            <%= 'Full Time' %>
          <% else %>
            <%= 'Part Time' %>
          <% end %>
        </p>
      </div>


  </div>
<% end %>
</div>

<%= render partial: 'layouts/footer' %>
