<h2><%= @tag.name %></h2>
<p>
  There are <%= @tag.programs.length %> programs that match <%= @tag.name %>
</p>
<div>
  <%= @tag.programs.each do |program| %>
  <%= link_to program.name, program_path %>
</div>
<% end %>
