<%= render partial: 'layouts/nav' %>
<div class="container" style="padding-top: 50px;">
  <div class="alert alert-success" role="alert" style="margin-top: 50px;">
    <p>
      <!-- Keeping plural/singular accurate -->
    <% if @tag.programs.length == 1 %>
      There <%= @tag.programs.length %> is program that matches <%=  @tag.name %>
    <% else %>
    There's <%= @tag.programs.length %> programs that match <%= @tag.name %>
    <% end %>
    </p>
  </div>

<div class="text-center">
  <h1>So You Think You Can <%= @tag.name %>?</h1>
</div>

  <div class="col-md-4" style="padding-top: 70px;">

    <div class="tag-results-show">
        <% @tag.programs.each do |program| %>
        <h3><%= link_to program.name, program_path %></h3>
        <p>
          at <h4><%= link_to program.school.name, school_path %></h4>
        </p>
      <% end %>
    </div>
  </div>
</div>

<%= render partial: 'layouts/footer' %>
