<%= render '/schools/nav' %>
<div class="jumbotron-red" style="margin-top: 50px;">

<div class="title">
  <h2 style="margin-top: 10px;">Welcome back.</h2>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form col-sm-2 col-md-push-4">

    <div class="field">
      <p><%= f.label :email %><br /></p>
      <p><%= f.email_field :email, autofocus: true %></p>
    </div>

    <div class="field">
      <p><%= f.label :password %><br /></p>
      <p><%= f.password_field :password, autocomplete: "off" %></p>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <p>Remember me &nbsp;&nbsp;<%= f.check_box :remember_me %></p>
      </div>
    <% end -%>

    <div class="actions">
    <p><%= f.submit "Log in", class: 'btn btn-default'%></p>
    </div>
  <% end %>

    <%= render "devise/shared/links" %>

</div>



  </div>
</div>
