<%= render partial: "nav" %>

<div class="jumbotron-orange">

  <h1>All We've Got</h1>
  <div class="col-md-4">

  </div>
  <div class="col-md-5 text-center">
      <p>Not sure where you want to study? Maybe you're not sure what you'd like to learn. Browse our complete list of schools. You've got more options than you think!</p>
  </div>
  <div class="col-md-4">

  </div>

</div>


<% @schools.each do |school| %>
  <div class="col-md-4">
    <h3><%= school.name %></h3>
    <p><%= school.description %></p>
    <p><%= school.website %></p>
    <p><%= school.email %></p>
    <p><%= school.street_address %></p>
    <p><%= school.city %></p>
    <p><%= school.country %></p>
    <p><%= school.facebook %></p>
    <p><%= school.twitter %></p>
    <p><%= school.phone_number %></p>
  </div>
<% end %>
