<%= render partial: 'layouts/nav' %>

<div class="jumbotron-orange container-header-schools">

  <h1>Our Schools</h1>
  <div class="col-md-4">

  </div>
  <div class="col-md-5 text-center">
    <h4>Not sure where you want to study? Maybe you're not sure what you'd like to learn. Browse our complete list of schools. You've got more options than you think!</h4>
  </div>
  <div class="col-md-4">

  </div>
</div>

<div class="container concrete">
  <% @schools.each_slice(2) do |schoolgroup| %>
  <div class="row">
    <% schoolgroup.each do |school| %>
    <div class="col-md-6" style="padding-top: 50px;">
      <div class="school-show">

        <% if school.image.present? %>
          <%= image_tag school.image.url(:thumb) %>
        <% end %>

      <h2 style="margin-top: 20px; color: #fff; text-shadow: 2px 2px 5px rgba(150, 150, 150, 1);">
        <%= school.name %></h2>
      <div class="row">
      <div class="col-md-6 col-md-push-3">
          <p class="school-description"><%= school.description %></p>

          <hr style="
          border: 0;
          height: 2px;
          background: #333;
          background-image: linear-gradient(to right, #ffad00, #fff, #ffad00);">

          <div class="row">
            <div class="school-address text-center">
              <p>
              <% if school.street_address == 'nil' || nil %>
                <%= "" %>
              <% else %>
                <%= school.street_address %><br>
              <% end %>
              <% if school.city == 'nil' || nil %>
                <%= "" %>
              <% else %>
                <%= school.city %>,
              <% end %>
              <% if school.country == 'nil' || nil %>
                <%= "" %>
              <% else %>
                <%= school.country %>
              <% end %><br>
              <% if school.phone_number == 'nil' || nil %>
                <%= "" %>
              <% else %>
                <%= school.phone_number %>
              <% end %></p>


              <hr style="
              border: 0;
              height: 2px;
              background: #333;
              background-image: linear-gradient(to right, #ffad00, #fff, #ffad00);">

              <p>
                <%= link_to ('<i class="fa fa-link fa-2x"></i>').html_safe, school.website  %>
                <%= link_to ('<i class="fa fa-envelope-o fa-2x"></i>').html_safe, "mailto:#{school.email}"  %>

                <%= link_to ('<i class="fa fa-facebook fa-2x"></i>').html_safe, school.facebook  %>
                <%= link_to ('<i class="fa fa-twitter fa-2x"></i>').html_safe, school.twitter  %>
              </p>




            </div>
          </div>

        </div>
      </div>

    </div>
</div>

      <% end %>
    </div>
    <% end %>
  </div>

  <%= render partial: 'layouts/footer' %>
