<%= render partial: 'layouts/nav' %>

<div class="jumbotron-orange">

  <h1>All We've Got</h1>
  <div class="col-md-4">

  </div>
  <div class="col-md-5 text-center">
      <p>Not sure where you want to study? Maybe you're not sure what you'd like to learn. Browse our complete list of schools. You've got more options than you think!</p>
  </div>
  <div class="col-md-4">

  </div>

</div>

<div class="container">
  <% @schools.each do |school| %>
    <div class="col-lg-6">
      <h3><%= school.name %></h3>
      <div class="col-lg-6">
        <p class="school-description"><%= school.description %></p>
      </div>
      <div class="col-lg-6">
        <div class="school-address">
          <%= school.street_address %><br>
          <%= school.city %>, <%= school.country %><br>
          <%= school.phone_number %>
        </div>
      </div>

      <%= link_to ('<i class="fa fa-link fa-2x"></i>').html_safe, school.website  %>
      <%= link_to ('<i class="fa fa-envelope-o fa-2x"></i>').html_safe, mailto:school.email  %>
      <%= link_to ('<i class="fa fa-facebook fa-2x"></i>').html_safe, school.facebook  %>
      <%= link_to ('<i class="fa fa-twitter fa-2x"></i>').html_safe, school.twitter  %>

    </div>
  <% end %>
</div>


<%= render partial: 'layouts/footer' %>
