
  <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #fff; top: 0; height: 110px;">

      <div class="navbar-header navbar-brand animated">
      <%= link_to image_tag('syt_logo.png', :class => 'bounce'), root_path %>
      </div>

      <div>
        <ul class="nav navbar-nav">
          <li><span><i class="fa fa-search"></i>&nbsp;<a href="/#find-bootcamp">Find a Bootcamp</a></span></li>
          <li><span><i class="fa fa-star-o"></i>&nbsp;<a href="/#featured-schools">Featured Schools</a></span></li>
          <li><span><i class="fa fa-question-circle"></i>&nbsp;<%= link_to "FAQ", faq_index_path %></span></li>
          <li><span><i class="fa fa-pencil">&nbsp;</i><%= link_to "All Programs", programs_path %></span></li>
          <li><span><i class="fa fa-building-o"></i>&nbsp;<%= link_to "All Schools", schools_path %></span></li>
        </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
            <li><%= link_to "Log out", destroy_user_session_path %></li>
            <li><%= link_to "List your Bootcamp", new_school_path %></li>
            <li><%= link_to "List a Program", new_program_path %></li>
            <% else  %>
              <li><span><i class="fa fa-chevron-circle-up"></i>&nbsp;<%= link_to "Sign Up as a Bootcamp", new_user_registration_path %></span></li>
              <li><span><i class="fa fa-sign-in"></i>&nbsp;<%= link_to "Log in", new_user_session_path %></span></li>
              <li><%= link_to "Sign Up with Twitter", user_omniauth_authorize_path(:twitter) %></li>
          </ul>


        <% end %>
      </div>

  </nav>
